* {
  color: white;
  background-color: #0b486b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// border: 1px solid red;

nav {
  display: flex;
  justify-content: center;
  a {
    font-size: 20px;
    padding: 2px 20px;
    border-bottom: 4px solid;
  }
}

h2 {
  font-size: 140px;
  text-align: center;
  margin: 0;
  top: 50%;
}